.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;

}

.blacksquare {
  background: #000;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;

}

.grid-board {
  display: grid;
  grid-template-columns: repeat(15, 34px);
  grid-gap: 0;
  align-self: flex-start;
}


.placeholder
{
    position: relative;
    font-size: 0.7em;
}

.placeholder::after
{
    position: absolute;
    left: 5px;
    top: 3px;
    content: attr(data-placeholder);
    pointer-events: none;
    
}


.cluelist{
  height: 200px;
  width: 500px;
  overflow: scroll;
}


